# OS
.DS_Store
Thumbs.db

# Uploads
/uploads/logos/*
!/uploads/logos/.gitkeep
/uploads/landing/*
!/uploads/landing/.gitkeep
/uploads/trust/*
!/uploads/trust/.gitkeep

# Local env
.env
.env.*

# Editor
*.swp
.idea/
.vscode/
